<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>TropoVoice</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" />
<script type="text/javascript" src="/javascripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.slidepanel.setup.js"></script>
<!-- <script type="text/javascript" src="/javascripts/jquery.cycle.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.cycle.setup.js"></script> -->
</head>

<% current_user = session[:current_user_id] %>
<% logout_url = AppEngine::Users.create_logout_url('/logout') %>


<body>
<div class="wrapper col0">
  <div id="topbar">
    <div id="slidepanel">
      <div class="topbox">
        <h2>Phone Access Information</h2>
        <p>
        	To test the live application:
	<ul>
		<li>Voice & Messaging: (415) 273-9939</li>
		<li>Skype Voice:<br/><a href="skype:+99000936 9991430371?call">+99000936 9991430371</a></li>
		<li>SIP Voice:<br/><a href="sip:9991430371@sip.tropo.com">sip:9991430371@sip.tropo.com</a></li>
		<li>iNum: +883510001806091</li>
		<li>IM: tropovoice@tropo.im</li>
		<li>Twitter: <a href="http://twitter.com/tropovoice">@tropovoice</a></li>
	</ul>
	<br/>
        </p>
        <!-- <p class="readmore"><a href="#">Continue Reading &raquo;</a></p> -->
      </div>
      <div class="topbox">
        <h2>License Info</h2>
		<p>
			Copyright 2010 <a href="http://twitter.com/zlu" target="_new">Zhao Lu</a></p><p>

			   Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_new">Apache License, Version 2.0 (the "License")</a>.
		   </p><p>
			   Unless required by applicable law or agreed to in writing, software
			   distributed under the License is distributed on an "AS IS" BASIS,
			   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
			   See the License for the specific language governing permissions and
			   limitations under the License.
		</p>
      </div>
      <div class="topbox last">
        <h2>More Info</h2>
      </div>
      <br class="clear" />
    </div>
    <div id="loginpanel">
      <ul>
        <li class="left">
			TropoVoice
		</li><li class="right" id="toggle"><a id="slideit" href="#slidepanel">Information</a><a id="closeit" style="display: none;" href="#slidepanel">Close Panel</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="/"><img src="/images/tropovoice.gif" border="0"></a></h1>
      <!-- <p>Open Source Phone System API</p> -->
    </div>
    <div id="topnav">
      <ul>
	
<% if !current_user.nil? %>	

<!-- <li><a href="/">Home</a></li> -->
<li><%= link_to "voice calls", voice_calls_path %></li>
<li><%= link_to "messages", messagings_path %></li>
<li><%= link_to "voicemails", voicemails_path %></li>
<li><%= link_to "contacts", contacts_path %></li>
<li><%= link_to "phone numbers", phone_numbers_path %></li>
<li><%= link_to "call logs", call_logs_path %></li>
<li><%= link_to "profile", profiles_path %></li>
<li><a href="/api">API</a></li>
<li class="last"><a href="<%= logout_url%>">logout</a></li>
		     
<% else %>
<li class="last"><a href="/profiles">Login</a></li>
		 
<% end %>
		
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box"><a href="#"><img src="/images/phonedial.gif" alt="" width="450" height="300"/></a>
      <div class="floater">
        <h2>Welcome to TropoVoice!</h2>
        <p>TropoVoice is an light-weight, <b>open-source web framework</b> enabling developers to write GoogleVoice-like applications using RESTful APIs. Thanks to <a href="http://rubyonrails.org" target="_new">Ruby-on-Rails</a> and <a href="http://tropo.com" target="_new">Tropo</a>, developers can create next generation telephony applications quickly. Under the hood, TropoVoice handles call routing/forwarding, voicemails services including transcription, SIP/Skype support, and IM/SMS support. <span style="background-color:#02ACEE">Some notable differences from GoogleVoice are: open-source, API support, and SIP/Skype support where GoogleVoice only supports Gizmo.</span></p>
        <!-- <p class="readmore"><a href="#">Continue Reading &raquo;</a></p> -->
      </div>
    </div>
    <div class="featured_box"><a href="#"><img src="/images/demo/450x300.gif" alt="" /></a>
      <div class="floater">
        <h2>2. Open Source</h2>
        <p>TropoVoice is built on top of <a href="http://tropo.com" target="_new">Tropo</a>, it can be deployed onto any server because it is a Rails application. In the future, TropoVoice plans to support other backends such as FreeSwitch. <!-- On the client side, TropoVoice supports Android and will support Flash phone. To test the live application -->
<ul>
<li>Voice & Messaging: (415) 273-9939</li>
<li>Skype Voice: <a href="skype:+99000936 9991430371?call">+99000936 9991430371</a></li>
<li>SIP Voice: <a href="sip:9991430371@sip.tropo.com">sip:9991430371@sip.tropo.com</a></li>
<li>iNum: +883510001806091</li>
<li>IM: tropovoice@tropo.im</li>
<li>Twitter: <a href="http://twitter.com/tropovoice">@tropovoice</a></li>
</ul>
<br/>
</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <!-- <div class="featured_box"><a href="#"><img src="/images/demo/450x300.gif" alt="" /></a>
      <div class="floater">
        <h2>3. Dapiensociis temper donec</h2>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique congue. Liberoaenec vest maurisus libero pede nisl ligula cursus vitae dis metus. Aeneanaccumsan orci nasce ac pulvinare enim tor quis antesque cumsan in. Justomontesque sem ac dolor iaculum dolor orci elit lacus et vestibulum.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div class="featured_box"><a href="#"><img src="/images/demo/450x300.gif" alt="" /></a>
      <div class="floater">
        <h2>4. Dapiensociis temper donec</h2>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique congue. Liberoaenec vest maurisus libero pede nisl ligula cursus vitae dis metus. Aeneanaccumsan orci nasce ac pulvinare enim tor quis antesque cumsan in. Justomontesque sem ac dolor iaculum dolor orci elit lacus et vestibulum.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div class="featured_box"><a href="#"><img src="/images/demo/450x300.gif" alt="" /></a>
      <div class="floater">
        <h2>5. Nullain convallis ris elis</h2>
        <p>Nullamcorpervivamus nisl in sed adipit donec feugiat lor vel velit volutpat. Wisihabitur diculisi ac curabitur cursuspendreris sociis sed eger ipsum condisse laculis. Curabiturid non eu curabitae nibh por nullamcorper at nibh elis fring. Vestnibh congue praesenenatis justo et maecenasceleifend senterdum malesuada at dolor amet. Turisristibulum curabitae eros leo at interd.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
    </div> -->
  </div>
</div>
<!-- ####################################################################################################### -->
<!-- <div class="wrapper col3">
  <div id="container">
<p>
	this is a test
</p>
</div>
</div> -->
<!-- ####################################################################################################### -->

<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <!-- <div class="column2">
        <ul>
          <li>
            <h2>Lipsum</h2>
            <div class="imgholder"><img src="/images/demo/240x130.gif" alt="" /></div>
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
          <li class="last">
            <h2>Lipsum</h2>
            <div class="imgholder"><img src="/images/demo/240x130.gif" alt="" /></div>
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
        </ul>
        <br class="clear" />
      </div> -->
      <div class="column2">
        <h2>TropoVoice is OpenSource!</h2>
		<p>

		   Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_new">Apache License, Version 2.0 (the "License")</a>.
	   </p><p>
		   Unless required by applicable law or agreed to in writing, software
		   distributed under the License is distributed on an "AS IS" BASIS,
		   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
		   See the License for the specific language governing permissions and
		   limitations under the License.
	</p>
	
        <!-- <img class="imgl" src="/images/demo/imgl.gif" alt="" /> -->
		<p>TropoVoice is built on top of <a href="http://tropo.com" target="_new">Tropo</a>, it can be deployed onto any server because it is a Rails application. In the future, TropoVoice plans to support other backends such as FreeSwitch. On the client side, TropoVoice supports Android and will support Flash phone. To test the live application:<br/><br/>
Voice & Messaging: (415) 273-9939<br/>
Skype Voice: <a href="skype:+99000936 9991430371?call">+99000936 9991430371</a><br/>
SIP Voice: <a href="sip:9991430371@sip.tropo.com">sip:9991430371@sip.tropo.com</a><br/>
IM: tropovoice@tropo.im<br/>
Twitter: <a href="http://twitter.com/tropovoice">@tropovoice</a><br/>
<br/>

</p>
      </div>
    </div>
    <div class="fl_right">
      <!-- <h2>Latest From The Blog</h2>
      <ul>
        <li>
          <div class="imgholder"><a href="#"><img src="/images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
</ul> -->
<center>
	<script type='text/javascript'>document.write('<iframe allowTransparency="true" src="/widget?apikey=4a866a32738fbe384283deb9c776f58ed1728cfc" width="300" Height="100" frameborder="0"></iframe>');</script>
	<br/>
	
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 4,
	  interval: 6000,
	  width: 250,
	  height: 300,
	  theme: {
	    shell: {
	      background: '#333333',
	      color: '#02ACEE'
	    },
	    tweets: {
	      background: '#000000',
	      color: '#02ACEE',
	      links: '#02ACEE'
	    }
	  },
	  features: {
	    scrollbar: false,
	    loop: false,
	    live: false,
	    hashtags: true,
	    timestamp: true,
	    avatars: false,
	    behavior: 'all'
	  }
	}).render().setUser('TropoVoice').start();
	</script></center>
	

    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<!-- <div class="wrapper col4">
  <div id="footer">
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div> -->
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2010 - Zhao Lu - <a href="#">MyOpenVoice.org</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Open Source Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
<br/><br/><br/>
</div>
<!-- twitter follow badge by go2web20 -->
<script src='http://files.go2web20.net/twitterbadge/1.0/badge.js' type='text/javascript'></script><script type='text/javascript' charset='utf-8'><!--
tfb.account = 'tropovoice';
tfb.label = 'follow-us';
tfb.color = '#35ccff';
tfb.side = 'r';
tfb.top = 213;
tfb.showbadge();
--></script>
<!-- end of twitter follow badge -->
</body>
</html>
