<% current_user = session[:current_user_id] %>


<h1>Your Profile <%# link_to_remote_redbox("map",
  :url => {:controller=>'profiles', :action=>'map'}) %> <%# link_to_redbox('map', :inline_extension, html_options = {})%></h1>


<!-- http://207.218.123.79/clarabell.swf?server=207.218.123.79&uri=sip:9991430371@127.0.0.1:5070 -->

<table style="border:0px solid #FFFFFF;border-left:0px solid #FFFFFF;border-right:0px solid #FFFFFF;"><tr><td style="border:0px solid #FFFFFF;border-left:0px solid #FFFFFF;border-right:0px solid #FFFFFF;">
<br/>	
<table class="highlightable">
<tr>
<thead>    
	<th>Channel</th>
	<th>Data</th>
</thead>  
</tr>

<% if @profiles %>
<%# @profiles.each do |profile| %>
  <tr>
    <td>Voice</td><td><%=h @profiles.voice %></td>
</tr><tr>
    <td>Skype</td><td><%=h @profiles.skype %></td>
</tr><tr>
    <td>SIP</td><td><%=h @profiles.sip %></td>
</tr><tr>
    <td>iNum</td><td><%=h @profiles.inum %></td>
</tr><tr>
    <td>IM</td><td><%=h @profiles.tropo %></td>
</tr><tr>
    <td>Twitter</td><td><%=h @profiles.twitter %></td>
</tr><tr>
    <td>GTalk</td><td><%=h @profiles.gtalk %></td>
</tr><tr>
    <td>Voice Token</td><td><%=h @profiles.voice_token[0..10] rescue "" %>...</td>
</tr><tr>
    <td>SMS Token</td><td><%=h @profiles.sms_token[0..10]  rescue "" %>...</td>
</tr>
    <!-- <td><%# link_to 'Show', profile_path(profile) %></td> -->
    <!-- <td><%# link_to 'Delete', profile_path(profile), :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>

<%= link_to 'Edit', edit_profile_path(@profiles) %>

<%# end %>
<% end %>
</table>


Screen your calls? 
<%= check_box_tag("call_screening", "call_screening", @profiles.call_screening) %>
<%= observe_field 'call_screening', :url => { :action => "update_checkbox" }, :with => 'call_screening'  %>
 
<p><a href="http://gmail.com">Gmail</a></p>
<hr/>
<p><%= link_to 'System Configuration', sys_configs_path %></p>

</td><td style="border:0px solid #FFFFFF;border-left:0px solid #FFFFFF;border-right:0px solid #FFFFFF;">

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	    <center><article>
	      <p>Finding your location: <span id="status">checking...</span></p>
	    </article></center>
	<script>
	function success(position) {
	  var s = document.querySelector('#status');

	  if (s.className == 'success') {
	    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
	    return;
	  }

	  s.innerHTML = "found you!";
	  s.className = 'success';

	  var mapcanvas = document.createElement('div');
	  mapcanvas.id = 'mapcanvas';
	  mapcanvas.style.height = '400px';
	  mapcanvas.style.width = '560px';

	  document.querySelector('article').appendChild(mapcanvas);

	  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
	  var myOptions = {
	    zoom: 15,
	    center: latlng,
	    mapTypeControl: false,
	    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);

	  var marker = new google.maps.Marker({
	      position: latlng, 
	      map: map, 
	      title:"You are here!"
	  });
	}

	function error(msg) {
	  var s = document.querySelector('#status');
	  s.innerHTML = typeof msg == 'string' ? msg : "failed";
	  s.className = 'fail';

	  // console.log(arguments);
	}

	if (navigator.geolocation) {
	  navigator.geolocation.getCurrentPosition(success, error);
	} else {
	  error('not supported');
	}

	</script>
	
	
</td></tr></table>

<br/>
<h1>Display Your OpenVoice CallMe Widget On Your Site!</h1>
<table style="border:0px solid #FFFFFF;border-left:0px solid #FFFFFF;border-right:0px solid #FFFFFF;"><tr><td style="border:0px solid #FFFFFF;border-left:0px solid #FFFFFF;border-right:0px solid #FFFFFF;">
<script type='text/javascript'>document.write('<iframe allowTransparency="true" src="/widget?apikey=<%=session[:apikey]%>" width="300" Height="100" frameborder="0"></iframe>');</script>

</td><td style="border:0px solid #FFFFFF;border-left:0px solid #FFFFFF;border-right:0px solid #FFFFFF;">
Add the OpenVoice CallMe widget to your site by copying and pasting the following script on your page! 
</p>
<p><textarea ROWS="4" COLS="80"><script type='text/javascript'>document.write('<iframe allowTransparency="true" src="http://myopenvoice.appspot.com/widget?apikey=<%=session[:apikey]%>" width="300" Height="100" frameborder="0"></iframe>');</script></textarea></p>

</td></tr></table>

<br />

<%# link_to 'New profile', new_user_profile_path(current_user)%>