<% current_user = session[:current_user_id] %>


<h1>Your Profile - <%= link_to_remote_redbox("map",
  :url => {:controller=>'profiles', :action=>'map'}) %> <%# link_to_redbox('map', :inline_extension, html_options = {})%></h1>


<!-- http://207.218.123.79/clarabell.swf?server=207.218.123.79&uri=sip:9991430371@127.0.0.1:5070 -->

<table class="highlightable">
<tr>
<thead>    
	<th>Voice</th>
    <th>Skype</th>
    <th>Sip</th>
    <th>INum</th>
    <th>Tropo</th>
    <th>Twitter</th>
    <th>Gtalk</th>
	<th>&nbsp;</th>
</thead>  
</tr>

<% if @profiles %>
<% @profiles.each do |profile| %>
  <tr>
    <td><%=h profile.voice %></td>
    <td><%=h profile.skype %></td>
    <td><%=h profile.sip %></td>
    <td><%=h profile.inum %></td>
    <td><%=h profile.tropo %></td>
    <td><%=h profile.twitter %></td>
    <td><%=h profile.gtalk %></td>
    <!-- <td><%= link_to 'Show', profile_path(profile) %></td> -->
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <!-- <td><%= link_to 'Delete', profile_path(profile), :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
<% end %>
</table>

<br/>
<h1>Display Your OpenVoice CallMe Widget On Your Site!</h1>
<script type='text/javascript'>document.write('<iframe allowTransparency="true" src="/widget?apikey=<%=session[:apikey]%>" width="300" Height="100" frameborder="0"></iframe>');</script>

<br/>
Add the OpenVoice CallMe widget to your site by copying and pasting the following script on your page! 
</p>
<p><textarea ROWS="4" COLS="80"><script type='text/javascript'>document.write('<iframe allowTransparency="true" src="http://myopenvoice.appspot.com/widget?apikey=<%=session[:apikey]%>" width="300" Height="100" frameborder="0"></iframe>');</script></textarea></p>


<br />

<%# link_to 'New profile', new_user_profile_path(current_user)%>