<% current_user = session[:current_user_id] %>
<h1>Editing messaging</h1>

<%# form_for(@messaging) do |f| %>
<% form_for (@messaging, :url => '/users/' + current_user.to_s + '/messagings/' + @messaging.id.to_s) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', user_messaging_path(current_user, @messaging) %> |
<%= link_to 'Back', user_messagings_path(current_user) %>