<% current_user = session[:current_user_id] %>
<h1>Your Messages (sms/im)</h1>

<table>
  <tr><thead>
    <th>From</th>
    <th>To</th>
    <th>Text</th>
    <th>Time</th>
	<th colspan="3">&nbsp;</th>
</thead>
  </tr>

<% if @messagings %>
<% @messagings.each do |messaging| %>
  <tr>
    <td><%=h messaging.from %></td>
    <td><%=h messaging.to %></td>
    <td><%=h messaging.text %></td>
    <td><%=h messaging.created_at %></td>
    <td><%= link_to 'Reply', new_messaging_path({ :to => messaging.from }) %></td>
    <td><%= link_to 'Show', messaging_path(messaging) %></td>
    <td><%= link_to 'Delete', messaging_path(messaging), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'new message', new_messaging_path %>