<% current_user = session[:current_user_id] %>
<h1>Your Voice Calls</h1>

<table class="highlightable">
  <tr>
<thead>    
	<th>To</th>
    <th>Time</th>
<th colspan="2">&nbsp;</th>
</thead>  </tr>

<% @voice_calls.each do |voice_call| %>
  <tr>
    <td><%=h voice_call.to %></td>
    <td><%=h voice_call.created_at %></td>
    <td><%= link_to 'Call', new_voice_call_path({ :to => voice_call.to }) %></td>
    <!-- <td><%# link_to 'Show', voice_call_path(voice_call) %></td> -->
    <td><%= link_to 'Delete', voice_call_path(voice_call), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p><%= will_paginate @voice_calls %></p>

<%= link_to 'new voice call', new_voice_call_path %>