<% current_user = session[:current_user_id] %>
<h1>Your Call Log</h1>

<table>
  <tr><thead>
    <th>From</th>
    <th>To</th>
    <th>Nature</th>
    <th>Time</th>
	<th colspan="3">&nbsp;</th>
</thead>
  </tr>

<% if @call_logs %>
<% @call_logs.each do |call_log| %>
  <tr>
    <td><%=h call_log.from %></td>
    <td><%=h call_log.to %></td>
    <td><%=h call_log.nature %></td>
    <td><%=h call_log.created_at %></td>
    <td><%= link_to 'Call', new_voice_call_path({ :to => call_log.from }) %></td>
    <td><%= link_to 'Show', call_log_path(call_log) %></td>
    <td><%= link_to 'Delete', call_log_path(call_log), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<p><%= will_paginate @call_logs %></p>
