<% current_user = session[:current_user_id] %>
<h1>Your Call Log</h1>

<table>
  <tr><thead>
    <th>From</th>
    <th>To</th>
    <th>Nature</th>
    <th>Time</th>
	<th colspan="3">&nbsp;</th>
</thead>
  </tr>

<% if @call_logs %>
<% @call_logs.each do |call_log| %>
  <tr>
    <td><%=h call_log.from %></td>
    <td><%=h call_log.to %></td>
    <td><%=h call_log.nature %></td>
    <td><%=h call_log.created_at %></td>
    <td><%= link_to 'Call', new_voice_call_path({ :to => call_log.from }) %></td>
    <td><%= link_to 'Show', call_log_path(call_log) %></td>
    <td><%= link_to 'Delete', call_log_path(call_log), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<p>
<% @page = params[:page] %>
<% if @page.nil?  %>
<% @page = 1 %>
<% end %>

<% if @page = 1 and @call_logs.paginator.page_count.to_i > 1 %>
<%= @call_logs.paginator.page %>
| <%= link_to 'First Page', '/call_logs?page=1' %> 
<% end %>

<% if @page.to_i > 1 %>
 | <%= link_to '<< Previous Page', '/call_logs?page=' + (@call_logs.paginator.page - 1).to_s %> 
<% end %>

<% if @page.to_i < @call_logs.paginator.page_count %>
 | <%= link_to 'Next Page >>', '/call_logs?page=' + (@call_logs.paginator.page + 1).to_s %> 
<% end %>

<% if @page.to_i != @call_logs.paginator.page_count and @call_logs.paginator.page_count.to_i > 1 %>
 | <%= link_to 'Last Page', '/call_logs?page=' + @call_logs.paginator.page_count.to_s %> 
<% end %>
</p>
