<h1>Listing contacts</h1>

<%# current_user = AppEngine::Users.current_user %>
<% current_user = session[:current_user_id] %>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Im</th>
  </tr>

<% if @contacts %>
<% @contacts.each do |contact| %>
  <tr>
    <td><%=h contact.contactname %></td>
    <td><%=h contact.number %></td>
    <td><%=h contact.im %></td>
    <td><%= link_to 'Call', new_user_voice_call_path(current_user, { :to => contact.number }) %></td>
    <td><%= link_to 'SMS', new_user_messaging_path(current_user, { :to => contact.number }) %></td>
    <td><%= link_to 'Show', user_contact_path(current_user, contact) %></td>
    <td><%= link_to 'Edit', edit_user_contact_path(current_user, contact) %></td>
    <td><%= link_to 'Destroy', user_contact_path(current_user, contact), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New contact', new_user_contact_path(current_user) %>