<h1>Your Contacts</h1>

<%# current_user = AppEngine::Users.current_user %>
<% current_user = session[:current_user_id] %>

<table>
  <tr><thead>
    <th>Name</th>
    <th>Number</th>
    <th>Im</th>
	<th colspan="5">&nbsp;</th>
	</thead>
  </tr>

<% if @contacts %>
<% @contacts.each do |contact| %>
  <tr>
    <td><%=h contact.contactname %></td>
    <td><%=h contact.number %></td>
    <td><%=h contact.im %></td>
    <td><%= link_to 'Call', new_voice_call_path(current_user, { :to => contact.number }) %></td>
    <td><%= link_to 'SMS', new_messaging_path(current_user, { :to => contact.number }) %></td>
    <td><%= link_to 'Show', contact_path(contact) %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Delete', contact_path(contact), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New contact', new_contact_path %>