<h1>Your Contacts</h1>

<%# current_user = AppEngine::Users.current_user %>
<% current_user = session[:current_user_id] %>

<!-- <p>
	<a href="https://www.google.com/accounts/AuthSubRequest?scope=http%3A%2F%2Fwww.google.com%2Fm8%2Ffeeds%2F&session=1&secure=0&next=http%3A%2F%2Fmyopenvoice.appspot.com/gmailcontacts2&hd=default">Import Google Contacts</a>
</p> -->

<table class="highlightable">
  <tr><thead>
    <th>Name</th>
    <th>Number</th>
    <th>SIP</th>
    <th>iNum</th>
    <th>Im</th>
    <th>Twitter</th>
    <th>GTalk/Buzz</th>
	<th colspan="4">&nbsp;</th>
	</thead>
  </tr>

<% if @contacts %>
<% @contacts.each do |contact| %>


  <tr>
    <td>
	<% if contact.twitter %>
		<% socialid = contact.twitter %>
	<% else %>
		<% socialid = "!" %>
	<% end %>
	<% socialid = socialid + ":" %>
	<% if contact.gtalk %>
		<% socialid = socialid + contact.gtalk %>
	<% else %>
		<% socialid = socialid + "!" %>
	<% end %>
	
	<% if contact.twitter or contact.gtalk %>
	<%= link_to_remote_redbox(contact.contactname,
	  :url => {:controller=>'profiles', :action=>'social', :id=>socialid}) %>
	<% else %>
	<%=h contact.contactname %>
	<% end %>
	</td>
	
    <td><%=h contact.number %></td>
    <td><%=h contact.sip %></td>
    <td><%=h contact.inum %></td>
    <td><%=h contact.im %></td>
    <td>
	<% if contact.twitter %>
	<a href="http://twitter.com/<%=h contact.twitter %>" target="_new"><%=h contact.twitter %><img src="/images/link.png"></a>
	<% end %>
	</td>
    <td>
	<% if contact.gtalk %>
	<a href="http://www.google.com/profiles/<%=h contact.gtalk %>" target="_new"><%=h contact.gtalk %><img src="/images/link.png"></a>
	<% end %>
	</td>
    <td><%= link_to 'Call', new_voice_call_path(current_user, { :to => contact.number }) %></td>
    <td><%= link_to 'SMS', new_messaging_path(current_user, { :to => contact.number }) %></td>
    <!-- <td><%= link_to 'Show', contact_path(contact) %></td> -->
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Delete', contact_path(contact), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<% if @contacts %>
<p><%= will_paginate @contacts %></p>
<% end %>

<%= link_to 'New contact', new_contact_path %>