<% current_user = session[:current_user_id] %>

    <h1>New contact</h1>

<% form_for([@contact]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :contactname %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %> (including country code)
  </p>
  <p>
    <%= f.label :sip %><br />
    <%= f.text_field :sip %>
  </p>
  <p>
    <%= f.label :inum %><br />
    <%= f.text_field :inum %>
  </p>

  <p>
    <%= f.label :im %><br />
    <%= f.text_field :im %>
  </p>
  <p>
    <%= f.label :twitter %><br />
    @<%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label 'GTalk / Buzz' %><br />
    <%= f.text_field :gtalk %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contacts_path %>