<% current_user = session[:current_user_id] %>
<h1>Your Phone Numbers</h1>

<table>
  <tr>
<thead>    
	<th>Number</th>
    <th>Description</th>
    <th>Forwarding?</th>
    <th>SMS?</th>
<th colspan="2">&nbsp;</th>
</thead>  </tr>
<% if @phone_numbers %>
<% @phone_numbers.each do |phone_number| %>
  <tr>
    <td><%=h phone_number.number %></td>
    <td><%=h phone_number.description %></td>
    <td><%=h phone_number.forward %></td>
    <td><%=h phone_number.smscapable %></td>
    <td><%= link_to 'Edit', edit_phone_number_path(phone_number) %></td>
    <td><%= link_to 'Delete', phone_number_path(phone_number), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>



<%= link_to 'Add phone number', new_phone_number_path %>
