<% current_user = session[:current_user_id] %>
<p>
  <b>Number:</b>
  <%=h @phone_number.number %>
  <br />
  <b>Description:</b>
  <%=h @phone_number.description %>
  <br />
  <b>Forward:</b>
  <%=h @phone_number.forward %>
  <br />
  <b>User:</b>
	<% user = User.first(:id => @phone_number.user_id) %>
	<% if user %>
  		<%=h user.email %>
	<% end %>

</p>


<%= link_to 'Edit', edit_phone_number_path(@phone_number) %> |
<%= link_to 'Back', phone_numbers_path %>