<% current_user = session[:current_user_id] %>
<h1>Editing voicemail</h1>

<%# form_for(@voicemail) do |f| %>
<% form_for (@voicemail, :url => '/users/' + current_user.to_s + '/voicemails/' + @voicemail.id.to_s) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @voicemail %> |
<%= link_to 'Back', voicemails_path %>