<% current_user = session[:current_user_id] %>
<h1>New voicemail</h1>

<%# form_for(@voicemail) do |f| %>
<% form_for([:user, @voicemail]) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', user_voicemails_path(current_user) %>