<head>
  <title>OpenVoice - <%= controller.controller_name %>:<%= controller.action_name %></title>
  <%= stylesheet_link_tag "openvoice" %>
</head>

<%# current_user = AppEngine::Users.current_user %>
<% current_user = session[:current_user_id] %>
<% logout_url = AppEngine::Users.create_logout_url('/') %>

<body>
  <div>
    <div>
      <% unless current_user.nil? %>
      <%= link_to "voice calls", user_voice_calls_path(current_user, @voice_calls) %> |
      <%= link_to "messages", user_messagings_path(current_user, @messagings) %> |
      <%= link_to "voicemails", user_voicemails_path(current_user, @voicemails) %> |
      <%= link_to "addressbook", user_contacts_path(current_user, @contacts) %> |
      <%= link_to "phone numbers", user_phone_numbers_path(current_user, @phone_numbers) %> |
      <%= link_to "call logs", user_call_logs_path(current_user) %> |
      <%= link_to "profile", user_profiles_path(current_user, @profiles) %> |
      <a href="<%= logout_url%>">logout</a>
      <% end %>
    </div>

    <% if flash[:error] %>
      <div class='flash error'><%= flash[:error] %></div>
    <% end %><% if flash[:notice] %>
      <div class='flash notice'><%= flash[:notice] %></div>
    <% end %>
                                                  
    <div>   
      <%= yield %>
    </div>
  </div>
</body>